@page "/todos"

<PageTitle>Todos</PageTitle>

<h1 class="my-3">Todos</h1>

<div class="row">
    <div class="col-12">
        <div class="card bg-tertiary mb-3">
            <div class="card-body">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="add your todo......."/>
                </div>
            </div>

            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-12">
                        <div class="p-3 d-flex align-items-center bg-light-subtle shadow-sm rounded">
                            <div class="form-check me-3">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="p-3 d-flex align-items-center bg-light-subtle shadow-sm rounded">
                            <div class="form-check me-3">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="p-3 d-flex align-items-center bg-light-subtle shadow-sm rounded">
                            <div class="form-check me-3">
                                <input type="checkbox" class="form-check-input" />
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
